<div class="row">
  <div class="col-xs-12">
    <form id="shopping-list-add">
      <div class="row">
        <div class="col-sm-5" form-group>
          <label for="item-name">Name</label>
            <input type="text" id="item-name" required class="form-control">
        </div>

        <div class="col-sm-2" form-group>
          <label for="item-amount">Amount Name</label>
            <input type="text" id="item-amount" required class="form-control">
        </div>
       </div>
       <br>
      <div class="row">
        <div class="col-xs-12">
		  <button class="btn btn-success">To Shopping List</button>
		  <button class="btn btn-primary">Edit List</button>
		  <button class="btn btn-danger">Delete List</button>
	    </div>
       </div>
     </form>
   </div>
 </div>
    